#name{
    font-size: 50px;
    font-weight: bold;
    margin-left: 80px;
    background-color: lightseagreen;
    color: white;
    padding-bottom: 9px;
    padding-right: 9px;
    padding-left: 9px;
}

#about-me-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightseagreen;
}

#name-box{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 800px;
}

#email-box{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 718px;
}

#about-me-text{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#about-me-section{
    border-style: solid;
    border-width: 1px;
    border-color:black;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 25px;
    padding-top: 10px;
    background-color: white;
}

button{
    background-color: lightseagreen;
    color: white;
    height: 40px;
    width: 100px;
}

body{
    background-color: lavender;
}

ul{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-right: 80px; 
    padding: 0;
    float: right;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

div{
    display: inline;
}

img{
    margin-top: 20px;
    margin-right: 5px;
    float: left;
}

hr { 
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px; 
}

header{
    background-color: white;
}

